@using PortalStore.DTO.Address
@model AddressListDto
<div class="modal-body">
    <input type="text" required placeholder="Adres Başlığı" class="form-control" value="@Model.AddressLine" name="AddressLine" />
</div>
<div class="modal-body">
    <input type="text" value="@Model.Country" required placeholder="Ülke" class="form-control" name="Country" />
</div>
<div class="modal-body">
    <input type="text" required placeholder="Şehir" value="@Model.City" class="form-control" name="City" />
</div>
<div class="modal-body">
    <input type="text" required placeholder="Bölge" class="form-control" value="@Model.District" name="District" />
</div>
<div class="modal-body">
    <input type="number" required placeholder="Posta Kodu" class="form-control" name="ZipCode" value="@Model.ZipCode" />
</div>
<input value="@Model.CustomerId" name="CustomerId" type="hidden" />
<input value="@Model.Id" name="Id" type="hidden" />